{% extends 'base.html' %}

{% block content %}

<h1>Customers Page</h1>

<form method="POST" class="mb-4">

    {% csrf_token %}

    <div class="row">

        <div class="col-md-3">

            <input
                type="text"
                name="name"
                placeholder="Customer Name"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-3">

            <input
                type="email"
                name="email"
                placeholder="Email"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <input
                type="text"
                name="phone"
                placeholder="Phone"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <input
                type="text"
                name="city"
                placeholder="City"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <button
                type="submit"
                class="btn btn-primary w-100"
            >

                Add Customer

            </button>

        </div>

    </div>

</form>

<form method="GET" class="mb-4">

    <div class="row">

        <div class="col-md-10">

            <input
                type="text"
                name="search"
                placeholder="Search Customer"
                class="form-control"
            >

        </div>

        <div class="col-md-2">

            <button
                type="submit"
                class="btn btn-dark w-100"
            >

                Search

            </button>

        </div>

    </div>

</form>

<div class="table-responsive">

<table class="table table-bordered table-hover table-striped bg-white">

    <tr style="background:#1e293b;color:white;">

        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
        <th>Action</th>

    </tr>

    {% for customer in customers %}

    <tr>

        <td>{{ customer.id }}</td>

        <td>{{ customer.name }}</td>

        <td>{{ customer.email }}</td>

        <td>{{ customer.phone }}</td>

        <td>{{ customer.city }}</td>

        <td>

            <a
                href="/update-customer/{{ customer.id }}/"
                class="btn btn-info btn-sm"
            >

                Edit

            </a>

            <a
                href="/delete-customer/{{ customer.id }}/"
                class="btn btn-danger btn-sm"
            >

                Delete

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

</div>

{% endblock %}