{% extends 'base.html' %}

{% block content %}

<h1>Employees Page</h1>

<form method="POST" class="mb-4">

    {% csrf_token %}

    <div class="row">

        <div class="col-md-2">

            <input
                type="text"
                name="name"
                placeholder="Employee Name"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <input
                type="email"
                name="email"
                placeholder="Email"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <input
                type="text"
                name="phone"
                placeholder="Phone"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <input
                type="text"
                name="department"
                placeholder="Department"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <input
                type="number"
                name="salary"
                placeholder="Salary"
                class="form-control"
                required
            >

        </div>

        <div class="col-md-2">

            <button
                type="submit"
                class="btn btn-primary w-100"
            >

                Add Employee

            </button>

        </div>

    </div>

</form>

<div class="table-responsive">

<table class="table table-bordered table-hover table-striped bg-white">

    <tr style="background:#1e293b;color:white;">

        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Action</th>

    </tr>

    {% for employee in employees %}

    <tr>

        <td>{{ employee.id }}</td>

        <td>{{ employee.name }}</td>

        <td>{{ employee.email }}</td>

        <td>{{ employee.phone }}</td>

        <td>{{ employee.department }}</td>

        <td>₹{{ employee.salary }}</td>

       <td>

    <a
        href="/update-employee/{{ employee.id }}/"
        class="btn btn-info btn-sm"
    >

        Edit

    </a>

    <a
        href="/delete-employee/{{ employee.id }}/"
        class="btn btn-danger btn-sm"
    >

        Delete

    </a>

</td>

    </tr>

    {% endfor %}

</table>

</div>

{% endblock %}