{% extends 'base.html' %}

{% block content %}

<h1>Update Order</h1>

<form method="POST">

    {% csrf_token %}

    <select
        name="product"
        class="form-control mb-3"
    >

        {% for product in products %}

        <option
            value="{{ product.id }}"

            {% if order.product.id == product.id %}
                selected
            {% endif %}
        >

            {{ product.name }}

        </option>

        {% endfor %}

    </select>

    <select
        name="customer"
        class="form-control mb-3"
    >

        {% for customer in customers %}

        <option
            value="{{ customer.id }}"

            {% if order.customer.id == customer.id %}
                selected
            {% endif %}
        >

            {{ customer.name }}

        </option>

        {% endfor %}

    </select>

    <input
        type="number"
        name="quantity"
        value="{{ order.quantity }}"
        class="form-control mb-3"
    >

    <button
        type="submit"
        class="btn btn-success"
    >

        Update Order

    </button>

</form>

{% endblock %}