{% extends 'base.html' %}

{% block content %}

<h1>Update Customer</h1>

<form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="name"
        value="{{ customer.name }}"
        class="form-control mb-3"
    >

    <input
        type="email"
        name="email"
        value="{{ customer.email }}"
        class="form-control mb-3"
    >

    <input
        type="text"
        name="phone"
        value="{{ customer.phone }}"
        class="form-control mb-3"
    >

    <input
        type="text"
        name="city"
        value="{{ customer.city }}"
        class="form-control mb-3"
    >

    <button
        type="submit"
        class="btn btn-success"
    >

        Update Customer

    </button>

</form>

{% endblock %}