{% extends 'base.html' %}

{% block content %}

<h1>Update Employee</h1>

<form method="POST">

    {% csrf_token %}

    <input
        type="text"
        name="name"
        value="{{ employee.name }}"
        class="form-control mb-3"
    >

    <input
        type="email"
        name="email"
        value="{{ employee.email }}"
        class="form-control mb-3"
    >

    <input
        type="text"
        name="phone"
        value="{{ employee.phone }}"
        class="form-control mb-3"
    >

    <input
        type="text"
        name="department"
        value="{{ employee.department }}"
        class="form-control mb-3"
    >

    <input
        type="number"
        name="salary"
        value="{{ employee.salary }}"
        class="form-control mb-3"
    >

    <button
        type="submit"
        class="btn btn-success"
    >

        Update Employee

    </button>

</form>

{% endblock %}
